build_wheels/
.eggs/
.vscode/
*.egg-info/
docs/build/
__pycache__/
*.pyc
*.so
.DS_Store
dev/_development_worktree/

# local build dir and outputs written by the JWST example notebook
build/
example/jwst_*.fits
